<div id="bg-welcome" class="header bg-gradient-danger py-7 py-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

<!-- Page content -->
<div id="welcome" class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                </div>
              </div>
            </div>
            <div class="text-center text-muted mb-4">
              <h3>AUGMENTED REALITY DINING</h3>
            </div>
            <div class="text-center">
              <button class="btn btn-success my-4" role="button" id="startbutton"
                style="visibility:visible">BEGIN</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--from Clarissa-->
<div class="preloader"></div>
<p id="demo"></p>
<div id="my-ar-container"></div>